.Button {
  background-color: cornsilk;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  padding: 5px 20px;

  &:active {
    filter: brightness(50%);
  }

  &:disabled {
    color: gray;
    cursor: not-allowed;
    filter: brightness(150%);
  }
}
